body{
  background-color: #fff;
  height: 1000px;
}

li {
  list-style-type: none;
  color: #e40007;
}

@media screen and (min-width: 375px) {
  body{
    background-color: blue;
  }
}

@media screen and (min-width: 500px) {
  body{
    background-color: purple;
  }
}

.col-xs-1, .col-xs-6{
  background-color: #C0C0C0;
  border: 1px solid #000;
  height: 100px;
}

.col-sm-2, .col-sm-4{
  background-color: #C0C0C0;
  border: 1px solid #000;
  height: 100px;
}

.col-md-4, .col-md-1{
  background-color: #C0C0C0;
  border: 1px solid #000;
  height: 100px;
}

.col-lg-3, .col-lg-9{
  background-color: #C0C0C0;
  border: 1px solid #000;
  height: 100px;
}

/*Media Queries*/

@media screen and (min-width: 375px){
  .col-xs-1, .col-sm-2, .col-sm-4, .col-md-4, .col-lg-3, .col-lg-9{
    background-color: red;
}

@media screen and (min-width: 768px){
  .col-xs-1, .col-sm-2, .col-sm-4, .col-md-4, .col-lg-3, .col-lg-9{
    background-color: olive;
}
